.welcome-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 5em;

    align-items: center;
    justify-content: center;
}

.profile-photo {
    height: 16em;
    width: 16em;
    object-fit: cover;

    margin: 2em 2em 1em 2em;
    border-radius: 50%;
}

.welcome-header {
    text-align: center;
}

.overview-header {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.loading {
    margin-top: 2em;
}

.not-logged-in {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.not-logged-in > h1 {
    margin: 1em 0;
}

.not-logged-in > p {
    margin-bottom: 1em;
}

.not-logged-in > button {
    display: flex;
    font-size: 1em;
    
    align-items: center;
    gap: 0.5em;
}

.icon-link {
    display: flex;
    align-items: center;
}

footer {
    display: flex;

    width: 100%;
    height: 5em;

    justify-content: center;
    align-items: center;

    font-size: 1.25em;

    gap: 1em;
}