@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

:root {
    color-scheme: dark;

    --font: 'Open Sans';

    --thalia-pink: #e62272;
    --pink-highlight: #eb4e8e;
    --thalia-black: #111;
    --light-black: #212121;

    --confirm-green: #00b70c;
    --confirm-green-highlight: #00ca0d;

    --cancel-red: #b70000;
    --cancel-red-highlight: #ca0000;

    --white: #fff;
    --white-highlight: #cccccc;

    --width: 60%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--thalia-black);
    color: var(--white);
    margin: 0;

    font-family: var(--font);
}

main {
    width: var(--width);
    margin: 0 auto;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--white-highlight);
}

button {
    padding: 0.5em 1em;

    border-radius: 0.25em;
    border: none;

    background-color: var(--thalia-pink);
    color: var(--white);

    font-weight: 900;
    text-align: center;
}

button:hover {
    background-color: var(--pink-highlight);
    cursor: pointer;
}

button:disabled {
    cursor: default;
    opacity: 60%;
}

input,
textarea,
select {
    appearance: none;

    height: 2em;
    border-radius: 0.5em;
    border: 2px solid var(--thalia-pink);
    text-align: center;

    color: var(--white);
    background-color: var(--light-black);
}

input[type="checkbox"] {
    width: 1.75em;
    height: 1.75em;

    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--thalia-pink);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media (max-width: 1400px) {
    :root {
        --width: 75%;
    }
}

@media (max-width: 600px) {
    :root {
        --width: 80%;
    }

    body {
        font-size: 0.8em;
    }
}