form {
    width: 90%;
}

.form-content {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
}

textarea#description {
    height: 6em;
    resize: none;

    text-align: start;
    padding: 0.5em
}

select#type {
    height: 2em;
}

.button-wrapper {
    display: flex;
    gap: 1em;

    margin-top: 1em;
    justify-content: center;
}

.confirmation-button {
    width: 8em;
    height: 3em;
}

.confirm-button {
    background-color: var(--confirm-green);
}

.confirm-button:hover {
    background-color: var(--confirm-green-highlight);
}

.cancel-button {
    background-color: var(--cancel-red);
}

.cancel-button:hover {
    background-color: var(--cancel-red-highlight);
}