.member {
    display: flex;
    justify-content: space-between;

    min-height: 4em;
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 0.5em;

    background-color: var(--light-black);
}

.member-info {
    display: flex;
    align-items: center;
}

.member-info > span {
    min-width: 10em;
    margin-left: 5em;
}

.member-photo {
    border-radius: 50%;
    
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.interaction-buttons {
    display: flex;
    gap: 1em;
}

@media (max-width: 1100px) {
    .member, .member-info {
        flex-direction: column;
    }
    
    .member-info {
        margin-bottom: 1em;
    }

    .interaction-buttons {
        margin-left: 0;
        justify-content: center;
    }

    .interaction-button {
        width: 8em;
    }

    .member-info > span {
        font-weight: bold;
        font-size: 1.2em;

        margin-left: 0;
        margin-top: 1em;

        text-align: center;
    }

    .member-photo {
        width: 4em;
        height: 4em;
    }
}

@media (max-width: 400px) {
    .interaction-buttons {
        flex-direction: column;
    }

    .interaction-button {
        width: 100%;
    }
}