.anytimer {
    display: flex;

    min-height: 4em;
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 0.5em;

    background-color: var(--light-black);
}

.anytimer-info {
    display: flex;
    align-items: center;
}

.anytimer-info > span {
    min-width: 10em;
    margin-right: 5em;
}

.anytimer-button {
    margin-left: auto;

    width: 6em;
}

.anytimer-button#accept {
    background-color: #09c803;
}

.anytimer-button#decline {
    background-color: #c83803;
}

.anytimer-button#accept:hover {
    background-color: #10e908;
}

.anytimer-button#decline:hover {
    background-color: #e2470e;
}