.anytimer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 4em;
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    align-items: center;
    background-color: var(--light-black);
}

.anytimer-info {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.anytimer-info>span {
    flex: 1;
    margin: 1em;
    width: max-content;
}

.anytimer-buttons {
    margin-left: auto;
}

.anytimer-button#accept {
    background-color: #09c803;
    margin-right: 2em;
}

.anytimer-button#decline {
    background-color: #c83803;
}

.anytimer-button#accept:hover {
    background-color: #10e908;
}

.anytimer-button#decline:hover {
    background-color: #e2470e;
}

.picture {
    max-width: 100%;
    max-height: 100%;
}